[Unit]
Description=Software interface between Clown.Hub and Bridge Module
After=network.target mosquitto.service dev-ft260hidraw0.device
BindsTo=dev-ft260hidraw0.device
Requires=mosquitto.service
Requisite=dev-ft260hidraw0.device

[Service]
ExecStart=/usr/bin/bc-bridge --host localhost --prefix nodes/bridge/0
User=bigclown
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=dev-ft260hidraw0.device
